<div class='calendar-room-form'>
  <h1>新規カレンダー</h1>
  <%=form_with model: @calendar_room, local: true do |f|%>
    <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'>
        <%= f.label :お子さんのお名前, class: 'calendar-room-form__label'%>
      </div>
      <div class='calendar-room-form__field--right'>
        <%= f.text_field :child_name, class: 'calendar__room_name calendar-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='calendar-room-form__field'>
    </div>
    
    <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'>
        <%= f.label :誕生日, class: 'calendar-room-form__label'%>
      </div>
      <div class='calendar-room-form__field--right'>
        <%= f.text_field :child_name, class: 'calendar__room_name calendar-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='calendar-room-form__field'>
    </div>

        <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'>
        <%= f.label :性別, class: 'calendar-room-form__label'%>
      </div>
      <div class='calendar-room-form__field--right'>
        <%= f.text_field :child_name, class: 'calendar__room_name calendar-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='calendar-room-form__field'>
    </div>

    <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'>
        <%= f.label :血液型, class: 'calendar-room-form__label'%>
      </div>
      <div class='calendar-room-form__field--right'>
        <%= f.text_field :child_name, class: 'calendar__room_name calendar-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='calendar-room-form__field'>
    </div>

    <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'>
        <label class='calendar-room-form__label' for='calendar_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='calendar-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">チャットするユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='calendar-room-form__field'>
      <div class='calendar-room-form__field--left'></div>
      <div class='calendar-room-form__field--right'>
        <%= f.submit class: 'calendar-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
